.review{
    font-size: xx-large;
    text-align: center;
    color: darkgoldenrod;
    background-color: blanchedalmond;
}
.star{
display: flex;
justify-content: center;
}
.progress{
  margin: 5px;
  width: 30%;
  height: 10pxpx;
  margin-left: 550px;
  
}
.land1 .row1{
  width: 100%;
  display:flex;
  justify-content:center;
  align-items: center;

}
.land1 .col1{
  width:200px;
  height: 260px;
  margin: 40px;
}
  
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
#back{
  background-color: rgb(255, 222, 10);;
}